@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bug Tracker</title>

    <meta name="description" content="Bug Tracker Project">
    <meta name="author" content="Tom Setliff">

     @*you need to include the shieldui css and js assets in order for the charts to work 
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/shieldui-all.min.css" />
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
    <link id="gridcss" rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/dark-bootstrap/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>*@
    <script type="text/javascript" src="http://www.prepbootstrap.com/Content/js/gridData.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="/Content/local.css" rel="stylesheet" />
</head>
<body>   
    <div class="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul id="active" class="nav navbar-nav side-nav">
                    <li @if (ViewBag.Title.Contains("Home")) { <text> class="selected" </text>   }><a href="/Home/Index"> Home</a></li>
                    <li @if (ViewBag.Title.Contains("Project")) { <text> class="selected" </text>  }><a href="/Projects/Index"> Projects</a></li>
                    <li @if (ViewBag.Title.Contains("Ticket")) { <text> class="selected" </text>   }><a href="/Tickets/Index"> Tickets</a></li>
                    <li class="divider"></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li @if (ViewBag.Title.Contains("Role")) { <text> class="selected" </text>    }><a href="/RoleManagement/ListRoles"> Roles</a></li>
                    }
                    
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li><a href="Account/Register">Register</a></li>
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <ul class="nav navbar-nav navbar-right navbar-user">
                            <li>
                                @Html.ActionLink(User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    }
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right navbar-user">
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            </div>
        </nav>
        <div id="page-wrapper">
            @RenderBody()
            
        </div>        
        <footer>
            <div class="col-md-12">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <hr />
                    <p>&copy; @DateTime.Now.Year - Bug Tracker</p>
                </div>
                
            </div>
            
        </footer>

        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
