@model BugTracker.Models.Ticket
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = " Ticket Details";
}


    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <h2>@Html.DisplayFor(model => model.Title)</h2>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            @{var ownerName = Model.OwnerUser.FirstName + ' ' + Model.OwnerUser.LastName;}
            <div class="col-md-4">
                @Html.Label("Created By:")
                @Html.Raw(ownerName)
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(model => model.CreateDate)
            </div>
            <div class="col-md-4">
                @{var assignedName = "";
                if (Model.AssignedToUserId != null)
                {
                    assignedName = Model.AssignedToUser.FirstName + ' ' + Model.AssignedToUser.LastName;
                }
                }
                @Html.Label("Assigned To:")
                @Html.Raw(assignedName)
            </div>
            <div class="col-md-2">
                @Html.Label("Status:")
                @Html.DisplayFor(model => model.TicketStatus.Name)
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <hr />
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            @Html.Label("Project:")
            @Html.DisplayFor(model => model.Project.Name)
        </div>
        <div class="col-md-4">
            @Html.Label("Priority:")
            @Html.DisplayFor(model => model.TicketPriority.Name)
        </div>
        <div class="col-md-4">
            @Html.Label("Type:")
            @Html.DisplayFor(model => model.TicketType.Name)
        </div>
    </div>

    <div class="col-md-12">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>        
    </div>
