@model BugTracker.Models.Ticket
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Edit Ticket";
}

    @using (Html.BeginForm("Edit", "Tickets", FormMethod.Post,
    new { encType = "multipart/form-data", name = "myform" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OwnerUserId)
        @Html.HiddenFor(model => model.CreateDate)
        <div class="col-md-12">
            <div class="row">
                @*<div class="col-md-4">*@
                    @*<h2>@Html.DisplayFor(model => model.Title)</h2>*@
                    @Html.LabelFor(model => model.Title, "Title", htmlAttributes: new { @class = "control-label col-md-1" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                <div class="col-md-3"></div>
                <div class="col-md-2">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
                @*</div>*@
                <div class="col-md-4"></div>                
            </div>
            <div class="row">
                <div class="col-md-2">
                    @{var ownerName = Model.OwnerUser.FirstName + ' ' + Model.OwnerUser.LastName;}
                    @Html.Label("Created By:")
                    @Html.Raw(ownerName)
                </div>
                <div class="col-md-1">
                    @Html.DisplayFor(model => model.CreateDate)
                </div> 
             </div>             
            <div class="row">
                @Html.LabelFor(model => model.ProjectId, "Project", htmlAttributes: new { @class = "control-label col-md-3" })
                @Html.LabelFor(model => model.TicketStatusId, "Status", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.LabelFor(model => model.TicketPriorityId, "Priority", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.LabelFor(model => model.TicketTypeId, "Ticket Type", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.LabelFor(model => model.AssignedToUserId, "Assigned To", htmlAttributes: new { @class = "control-label col-md-2" })
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.DropDownList("ProjectId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectId, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.DropDownList("TicketStatusId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TicketStatusId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("TicketPriorityId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TicketPriorityId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("TicketTypeId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TicketTypeId, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.DropDownList("AssignedToUserId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AssignedToUserId, "", new { @class = "text-danger" })
                </div>                
            </div>
            <div class="row">
                @Html.LabelFor(model => model.Description, "Description", htmlAttributes: new { @class = "control-label col-md-1" })
            </div>
            <div class="row">
                <div class="col-md-10">
                    <textarea name="Description" autofocus>@Model.Description</textarea>
                    @*@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control"} })*@
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>       
    </div>
 
    }

<div class="container">
    <div class="row">
        <br />
        @Html.ActionLink("Back to List", "Index")
    </div>    
</div>
