@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Ticket Index";
}

    <div class="row">

        <div class="col-md-12">
            <div class="col-md-5"></div>
            <div class="col-md-1"><h2>Tickets</h2></div>
        </div>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table" id="TicketDataTable">
            <thead>
                <tr>
                    <th>
                        <label>Project</label>
                    </th>
                    <th>
                        <label>Ticket</label>
                    </th>
                    <th>
                        <label>Created By</label>
                    </th>
                    <th>
                        <label>Create Date</label>
                    </th>
                    <th>
                        <label>Assigned To</label>
                    </th>
                    <th>
                        <label>Type</label>
                    </th>
                    <th>
                        <label>Priority</label>
                    </th>
                    <th>
                        <label>Status</label>
                    </th>
                    <th>
                        <label>Last Updated</label>
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.OrderByDescending(m => m.CreateDate))
                {
                    var ownerName = item.OwnerUser.FirstName + ' ' + item.OwnerUser.LastName;
                    var assignedName = "";
                    if (item.AssignedToUserId != null)
                    {
                        assignedName = item.AssignedToUser.FirstName + ' ' + item.AssignedToUser.LastName;
                    }

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.Raw(ownerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.Raw(assignedName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id })
                          @*  @Html.ActionLink("Delete", "Delete", new { id = item.Id })  *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 

<script>
    $('#TicketDataTable').dataTable();
</script>