@model BugTracker.Models.UserRoleViewModel
@{
    ViewBag.Title = "UnassignUserRole";
}

<div id="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul id="active" class="nav navbar-nav side-nav">
                <li class="selected"><a href="RoleManagement/ListRoles"><i class="fa fa-bullseye"></i> Roles</a></li>
                <li><a href="Account/Register"><i class="fa fa-bullseye"></i> Register</a></li>
                <li><a href="About"><i class="fa fa-bullseye"></i> About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown messages-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">2</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">2 New Messages</li>
                        <li class="message-preview">
                            <a href="#">
                                <span class="avatar"><i class="fa fa-bell"></i></span>
                                <span class="message">Security alert</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="message-preview">
                            <a href="#">
                                <span class="avatar"><i class="fa fa-bell"></i></span>
                                <span class="message">Security alert</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#">Go to Inbox <span class="badge">2</span></a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user">Name</i><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="dropdown user-dropdown dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>Log In<b class="caret"></b>
                        @*<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>FirstName LastName<b class="caret"></b></a>*@
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Login", "Account", routeValues: new {@returnUrl = ViewContext.HttpContext.Request.Url.PathAndQuery})"><i class="fa fa-user"></i> Log In</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </nav>
</div>
<div id="page-wrapper">
    <div class="col-lg-12">
        <div class="col-lg-6">
            <h2>UnAssign @(Model.RoleName + "s")</h2>
        </div>
    </div>
    @using (Html.BeginForm("UnassignUserRole", "RoleManagement", FormMethod.Post,
    new { encType = "multipart/form-data", name = "myform" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.RoleId)
            @Html.HiddenFor(model => model.RoleName)
            <div class="form-group">
                @Html.LabelFor(model => model.Users, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBoxFor(model => model.SelectedUsers, Model.Users as MultiSelectList, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Users, "", new { @class = "text-danger" })
                    @if (ViewBag.Message != null)
                    {
                        <br />
                        <div class="text-danger">@ViewBag.Message</div>
                    }
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Unassign User(s)" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    <div>
        @Html.ActionLink("Back to List", "ListRoles", "RoleManagement")
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
